.App {
  text-align: center;
}

h1 {
  text-align: center;
}

/* navigation */
.menu {
  overflow: hidden;
  margin: 5px;
  background-color: whitesmoke;
}

.menu .left-menu {
  float: left;
}

.menu .right-menu {
  float: right;
}

.menu .right-menu a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.menu .right-menu a:hover {
  color: grey;
}

.nameform {
  text-align: center;
}

.panier {
  text-align: center;
}

.pizzamaker {
  text-align: center;

}

.todoform {
  text-align: center;
}

/* footer */

.footer {
  text-align: center;
  background-color: whitesmoke;
}
